@model Serwis.Models.ViewModels.ApplicationUserViewModel
<section class="container " style="padding:20px">
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <article form-group row>
            <aside class="col-3">
                <label asp-for="UserName"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
            </aside>
            <aside class=" col-5">
                <input type="text" asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </aside>
        </article>
        <article form-group row>
            <aside class="col-3">
                <label asp-for="Password"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
            </aside>
            <aside class=" col-5">
                <input type="password" asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </aside>
           @* <aside class="row form-check mb-2 mt-2">
                <div class="col-2 ">
                    <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
            </aside>*@
        </article>
        <article form-group row>
            <span style="color:#df2c14">@TempData["UserNotFound"]</span>
            <aside class="col-4">
                <input onclick="ClearSession()" type="submit" value="Login" class="btn btn-primary mt-3  " />
            </aside>
            <span><a asp-action="Register" asp-controller="Account">Rejestracja</a></span>

        </article>
    </form>
</section>
@section scripts{
    <script type="text/javascript">
<partial name="_validationScriptsPartial" /> 

        function ClearSession() {
            if (!confirm)
                return;
            sessionStorage.removeItem('key');
            document.getElementsByClassName('cart-quantity')[0].textContent = 0;
        }
    </script>
}