@model Serwis.Models.Domains.Register
<div class="container border" style="padding:20px">
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div form-group row>
            <div class="col-3">
                <label asp-for="UserName"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
            </div>
            <div class=" col-5">
                <input type="text" asp-for="UserName" class="form-control">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
        </div>
        <div form-group row>
            <div class="col-3">
                <label asp-for="Password"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
            </div>
            <div class=" col-5">
                <input type="password" asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div form-group row>
                <div class="col-3">
                    <label asp-for="RepeatPassword"></label> <!--wazne aby własciwosci mialy odpowiedni poziom dostepu-->
                </div>
                <div class=" col-5">
                    <input type="password" asp-for="RepeatPassword" class="form-control">
                    <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                </div>
            </div>
            <div form-group row>
                <span style="color:#df2c14">@TempData["Walidacja"]</span>
                <div class="col-4">
                    <input type="submit" value="Login" class="btn btn-primary mt-3  " />
                </div>
                <div class=" col-4">
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script type="text/javascript">
        }

    </script>
}