<section class="container">
    <article>
        <aside class="col-6" style="text-align:justify; padding: 1rem;" id="about">
            Jestem absolwentem Informatyki Stosowanej na Uniwersytecie Przyrodniczym.
        Dotychczas pisałem aplikacje proste aplikacje webowe w ramach samokształcenia w ASP.NET MVC oraz ASP.NET Core(częściej)
        i mam pełną świadomość moich braków, dlatego
        chciałbym odbyć staż, aby zdobyć pierwsze szlify w tym zawodzie.
        </aside>
         	
    </article>
</section>