
<div class="bookItem">
    @for (int i = 0; i < 12; i++)
    {
        <div>
            <img src="~/images/asfa.png" />
            <div style="display:block">
                <button class=" mt-1 btn btn-sm btn-secondary"> Kupuj</button>
                <input type="file" class=" mt-1 btn btn-sm btn-primary" style="display: inline" value="Dodaj do koszyka"> 
            </div>
        </div>
    }
</div>