@model Serwis.Models.Domains.Order


<div class="container">

    <h2>@(Model.Id == 0 ? "Dodawanie nowego zamówienia" : "Aktualizowanie zamowienia")</h2>
   
     <span></span>   
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">

        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id">
        }

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input class="form-control" asp-for="Name">
            </div>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="ImageFileName"></label>
            </div>
            @*<div class="col-6">
                <input class="form-control" asp-for="ImageFileName">
            </div>*@
            @*<span class="text-danger" asp-validation-for="ImageFileName"></span>*@
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label asp-for="ImageFile"></label>
            </div>
            <div class="col-6">
                <input class="form-control" accept="image/*" asp-for="ImageFile">
            </div>
            @*<span class="text-danger" asp-validation-for="ImageFile"></span>*@
        </div>
        <div class="form-group row mt-3">
            <div class="col-6">
                <input type="submit" class=" btn btn-primary form-control" value="Zatwierdź" />
            </div>
            <div class="col-6">
                <a type="button" class="btn btn-secondary form-control" asp-action="Service">Powrót</a>
            </div>
        </div>
    </form>
</div>