@using Microsoft.AspNetCore.Http;
@model List<Serwis.Models.Domains.Product>
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var sessionForUserId = HttpContextAccessor.HttpContext?.Session.GetString("Id");
}
@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <article class="form-group row" id="products_display">
            <aside class="form-group row">
                <a style="cursor: pointer; padding: 2rem;" asp-action="Product" asp-controller="Shop" asp-route-productId="@item.Id">
                    <img src="~/images/@item.ImageFileName" style="height:400px;"/>
                </a>
            </aside>
            <aside class="form-group row">
                <span>@item.Name</span>
                <span>@item.Price zł</span>
            </aside>
            <aside class="form-control-sm m-1 row">
                <button class=" mt-1 btn btn-sm btn-dark"
                onclick="AddPositionToCart('@item.Id', '@sessionForUserId')">
                    Dodaj do koszyka
                </button>
            </aside>
        </article>
    }
}
else
{
    <h2>Brak pozycji do wyswietlenia</h2>
}


