@using Microsoft.AspNetCore.Http;
@model Serwis.Models.ViewModels.ProductViewModel
@inject IHttpContextAccessor HttpContextAccessor;

@{

    var sessionForUserId = Convert.ToInt32(HttpContextAccessor.HttpContext?.Session.GetString("Id"));


    //var sessionForWallet = HttpContextAccessor.HttpContext?.Session.GetString("Wallet");
    //decimal wallet;
    //var amountOfMoney = Decimal.TryParse(sessionForWallet, out wallet) == true ? Decimal.Parse(sessionForWallet) : 0;
}
<div class="col-5">
    <a asp-action="Index" asp-controller="Home" class="btn btn-info form-control">
        Powrót
    </a>
</div>
@if (Model != null)
{
       
<div class="col-5 offset-2">
</div>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <th style="text-align:center;">Ilość</th>
                <th style="text-align:center;">Cena</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="middle" align="center" style="text-align:center;">1</td>
                <td valign="middle" align="center" style="text-align:center;">@Model.Name</td>
                <td valign="middle" align="center" style="text-align:center;">
                    <img style="width:200px; height 140px;" src="~/images/@Model.ImageFileName" />
                </td>
                <td valign="middle" align="center" valign="middle" style="text-align:center;">
                    <button id="btn_minus" class="btn btn-dark btn-sm mr-1">-</button>
                    <span class="ml-2 mr-2" id="quantity">1</span>
                    <button class="btn btn-dark btn-sm ml-1" id="btn_plus">+</button>
                </td>
                <td valign="middle" align="center" id="price_value" style="text-align:center;">@Model.Price</td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td align="center" valign="middle">Suma: </td>
                <td align="center" valign="middle" id="sum_value" style="text-align:center;"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="center" style="text-align:center;">
                    <a asp-action="InvoiceOfOrder" asp-route-productId="@Model.Id" asp-route-userId="@sessionForUserId"
                    class="btn btn-success">Dokonaj zakupu</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Podgląd</th>
                <th>Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nie wybrano produktu</td>
            </tr>
        </tbody>
    </table>

}
@section scripts{

<script type="text/javascript">
    const btn_minus = document.getElementById("btn_minus");
    const btn_plus = document.getElementById("btn_plus");
    let quantity = document.getElementById("quantity");
    let price_value = document.getElementById("price_value");
    let sum_value = document.getElementById("sum_value");
    let new_quantity = parseInt(quantity.textContent);
    let new_price_value = parseFloat(price_value.textContent);
    let set_value;

    $(document).ready(function () 
    {
        sum_value.textContent = price_value.textContent;
    });
    btn_plus.addEventListener("click", function () 
    {
        new_quantity++; //wartosc ilosci set_value=new_quantity *
        set_value = new_quantity * new_price_value;
        sum_value.textContent = set_value.toFixed(2).replace(".", ",");
        quantity.textContent = new_quantity;
    });
    btn_minus.addEventListener("click", function () 
    {
        if (new_quantity === 1) 
        {
            return;
        }
        new_quantity--;
        set_value = new_quantity * new_price_value;
        sum_value.textContent = set_value.toFixed(2).replace(".", ",");
        quantity.textContent = new_quantity;
    }); 
</script>
}
}
