@using Microsoft.AspNetCore.Http;
@model List<Serwis.Models.ViewModels.OrderPositionViewModel>
@inject IHttpContextAccessor HttpContextAccessor;

@{
    var sessionId = HttpContextAccessor.HttpContext?.Session.GetString("Id");
    var lp = 0;
}

@if (Model != null && Model.Any())
{
    var orderId = Model.Select(x => x.OrderId).First();

    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <th style="text-align:center;">Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <td style="text-align:center;">@(lp = lp +1 )</td>
                    <td style="text-align:center;">@position.Product.Name</td>
                    <td style="text-align:center;"><img style="width:200px; height 140px;" src="~/images/@position.Product.ImageFileName" /></td>
                    <td style="text-align:center;">@position.Product.Price</td>
                    <td style="text-align:center;"><button class="btn btn-success" onclick="PayForOrder('@orderId', '@sessionId')">Dokonaj zakupu</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <th style="text-align:center;">Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr> <td>Nie wybrano produktu</td></tr>
        </tbody>
    </table>
}

@section scripts
    {
    <script type="text/javascript">
        const p = document.getElementById("test");
        function PayForOrder(orderId, sessionId) {

            if (!confirm("Test"))
                return;
            $.ajax({
                type: "post",
                url: "@Url.Action("PayForOrderFromCart", "Shop")",
                data: {
                    orderId: orderId,
                    userId: sessionId
                },
                success: function(data) {
                    if (data.success) {

                        const a = document.createElement("a")
                        p.innerText = "TEST";
                        p.appendChild(a)

                    } else {
                        alert("zjebalo sie");
                    }
                },
                dataType: "json"
            });

        }

    </script>
}
