@model IEnumerable<Serwis.Models.Domains.OrderPosition>

<div class="bookItem">

    @if (User.Identity.IsAuthenticated){


        @if (Model != null || !Model.Any())
        {

            @foreach (var item in Model)
            {
                <div>
                    <img src="~/images/@item.Product.ImageFileName" />
                    <span>@item.Product.Name</span>
                    <span>@item.User.UserName</span>
                    <span>@item.Order.Id</span>
                </div>
            }
                <button type="submit" asp-action="Buy" asp-controller="Shop" asp-route-id="@Model.Select(x=>x.OrderId)">Dokonaj zakupu</button>


        }
        else
        {
            <h2>Brak pozycji do wyswietlenia</h2>
        }

    }
    else
    {
        <h2>Zaloguj się aby skorzystac z funkcji koszyka</h2>
    }
</div>
