@using Microsoft.AspNetCore.Http;
@model Serwis.Core.ViewModels.ProductsViewModel;

<nav id="search_engine_nav" class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 text-center">
    <form id="filterForm">
        <article class="form-group row mt-3">
            <aside class="col-5">
                <input asp-for="FilterProducts.Name" class=" form-control mb-2" , placeholder="Nazwa produktu" />
            </aside>
            <aside class="col-auto" >
                <select class="form-select" style="cursor:pointer;"
                        asp-for="FilterProducts.CategoryId"
                        asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                    <option value="">Wszystkie</option>
                </select>
            </aside>
            <aside class="col-1">
                <button type="submit" class="btn btn-outline-light mt-1 mb-2">Szukaj</button>
            </aside>
        </article>
    </form>
</nav>

<section class="products">
    <partial name="_Products" model="@Model.Products"/>
</section>
@section scripts{
    <script type="text/javascript" src="~/js/Index.js">
        
    </script>
}