@model Serwis.Models.ViewModels.ProductViewModel
<h2>Informacje dla @Model.Name</h2>

<section class="container row" id="product_display">
    <article class="col-5">
                <aside>
                    <img id="product_info" src="~/images/@Model.ImageFileName"/>
                </aside>
    </article>
    <article class="col-auto offset-1">
    </article>
    <article class="col-5" style="width:400px;">
        <aside class="form-group row">
            <span style="text-align:justify; margin-top:1rem;">@Model.Description</span>
        </aside>
        <aside class=" form-group row" style="margin-top:1rem;">
            <div>
            Skala ostrości
            @for (var i = 0; i < Model.CategoryId; i++)
            {
                <i style="color:orangered" class="fa-solid fa-fire"></i>
            }
            </div>
        </aside>

        <aside class=" form-group row" style="margin-top:1rem;">
            <div>
                <span>@Model.Price zł</span>
            </div>
        </aside>
        <aside class=" form-group row">
            <div>
                <a asp-action="SingleProductPurchase" asp-controller="Shop" asp-route-productId="@Model.Id"
           class="btn btn-outline-warning mt-3">
                    Kupuj
                </a>
            </div>
        </aside>
    </article>
</section>

