@model Serwis.Models.ViewModels.ProductViewModel
<h2>Informacje dla @Model.Name</h2>

<div class="container row border" >

    <img src="~/images/@Model.ImageFileName" />
    <span>@Model.Description</span>
    <span>@Model.Price</span>

</div>