@model Serwis.Models.ViewModels.ProductViewModel

@{
    var index = 0;

}
<section class="container">

<article class="col-5">
    <a asp-action="Index" asp-controller="Shop" class="btn btn-light mb-1 form-control">
        Powrót
    </a>
</article>
@if (Model != null)
{
    <span hidden class="productId">@Model.Id</span>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Lp.</th>
            <th style="text-align:center;">Nazwa</th>
            <th style="text-align:center;">Podgląd</th>
            <td style="text-align:center;">Ilość</td>
            <th style="text-align:center;">Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center" valign="middle" style="text-align:center;">1</td>
            <td align="center" valign="middle" style="text-align:center;">@Model.Name</td>
            <td align="center" valign="middle" style="text-align:center;">
                <img style="width:200px; height 140px;" src="~/images/@Model.ImageFileName" />
            </td>

            <td align="center" valign="middle" style="text-align:center;" id=" @index">
                <button onclick="BtnMinus('@index',this)" class="btn btn-dark btn-sm mr-1">-</button>
                <span class="quantityCl" style="margin-left: 2px; margin-right: 2px;">1</span>
                <button class="btn btn-dark btn-sm ml-1" onclick="BtnPlus('@index',this)">+</button>
            </td>

            <td align="center" valign="middle" id="price_value" class="sum_of_all" style="text-align:center;">
                @Model.Price
            </td>
        </tr>


        <tr class="parent_node">
            <td></td>
            <td></td>
            <td></td>
            <td align="center" valign="middle">Suma: </td>
            <td align="center" valign="middle" id="sum_value" style="text-align:center;"></td>
        </tr>
        <tr class="parent_node">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center;">
                <button class="btn btn-outline-success" onclick="PayForOrder()">
                    Dokonaj zakupu
                </button>
            </td>

        </tr>
    </tbody>
    </table>
}
else
{
 <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th style="text-align:center;">Lp.</th>
                <th style="text-align:center;">Nazwa</th>
                <th style="text-align:center;">Podgląd</th>
                <th style="text-align:center;">Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nie wybrano produktu</td>
            </tr>
        </tbody>
    </table>

}
</section>


@section scripts
{
<script type="text/javascript" src="~/js/SingleProductPurchase.js">
        

</script>
}
