@model IEnumerable<Serwis.Models.Domains.OrderPosition>

<div class="bookItem">


    @if (Model != null || !Model.Any())
    {
        @foreach (var item in Model)
        {
            <div>
                <img src="~/images/@item.Product.ImageFileName" />
                <span>@item.Product.Name</span>
                <span>@item.User.UserName</span>
                <span>@item.Order.Id</span>
            </div>
        }

    }else{
    <h2>Brak pozycji do wyswietlenia</h2>
    }
</div>
