html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

#main_nav {
    background: rgb(81,81,81);
    background: linear-gradient(0deg, rgba(81,81,81,1) 5%, rgba(43, 44, 46, 1) 15%, rgba(33,37,41,1) 20%);
}

#search_engine_nav {
    display: grid;
    background: rgb(33,37,41);
    background: radial-gradient(circle, rgba(33,37,41,1) 1%, rgba(81,81,81,1) 100%);
}

@media screen and (max-width:1000px) {
    #search_engine_nav {
        grid-template-columns: repeat(1, 100%);
        column-gap: 5rem;
    }
}

#products_list {
    background: rgb(33,37,41);
    background: radial-gradient(circle, rgba(33,37,41,1) 1%, rgba(81,81,81,1) 100%);
}

#summary_display {
    background: #776767;
    background: radial-gradient(circle, #776767 4%, rgba(81,81,81,1) 100%);
    margin-left: 10px;
}

body {
    margin-bottom: 60px;
    background-color: #515151;
    color: white;
}

#products_display {
    background: #776767;
    background: radial-gradient(circle, #776767 45%, rgba(81,81,81,1) 100%);
    text-align: center;
    width:26rem;
    
}

#product_display {
    background: #776767;
    background: linear-gradient(0deg, rgba(81,81,81,1) 10%, rgba(43, 44, 46, 1) 35%, rgba(33,37,41,1) 50%);
}

    #products_display:hover {
        background: #857373;
        background: radial-gradient(circle, #857373 35%, rgba(81,81,81,1) 100%);
    }


.products {
    display: grid;
    width: 100%;
}

#filterForm {
    margin-left: 25rem;
}

@media screen and (min-width:1300px) {
    .products {
        grid-template-columns: repeat(3, 30%);
        column-gap: 5rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width:1300px) {
    .products {
        grid-template-columns: repeat(2, 45%);
        column-gap: 5rem;
        row-gap: 1rem;
    }
}
@media screen and (max-width:1000px) {
    .products {
        grid-template-columns: repeat(1, 100%);
        column-gap: 5rem;
        row-gap: 1rem;
    }
}

img {
    width: 350px;
    height: 200px;
}

#product_info {
    width: 450px !important;
    height: 700px !important;
    margin-top: 1rem;
}
.blok {
    display: block;
}

.cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 2rem 2rem 0 0;
}

a {
    text-decoration: none;
    color: cadetblue
}

.cart-quantity {
    color: white;
    background-color: #685656;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 1.5em 0 0;
    right: 0;
    border: solid 2px #685656;
    border-radius: 15px;
    font-weight: bolder;
}

.privacyPolicyInfo {
    font-size: 11px;
    position: fixed;
    bottom: 0;
    background-color: #4a4141;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: white;
}

.privacyPolicyBtn {
    font-size: 12px;
}
