html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bookItem {
    display: grid;
    width:100%;
    margin-left:4rem;
}

@media screen and (min-width:1200px) {
    .bookItem {
        grid-template-columns: repeat(3, 30%) !important;
    }
}

img {
    width: 350px;
    margin-top: 30%;
    margin-bottom: 10px;
}

.blok {
    display: block;

}

.cart-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
}
.cart-quantity {
    color: white;
    background-color: rgb(43, 131, 151);
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px rgb(43, 131, 151);
    border-radius: 15px;
    font-weight: bolder;
}