,@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var sessionForUserId = @HttpContextAccessor.HttpContext?.Session.GetString("Id");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SklEp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Serwis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <input id="confirm" hidden value="true" />
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Serwis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin"
                               asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Service">
                                Przejdź
                                do zgłoszeń
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="cart-btn">
                    <a style="color: inherit;" asp-action="Cart" asp-controller="Shop" asp-route-userId="@sessionForUserId">
                        <i id="cart" class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <span class="cart-quantity">0</span>
                </div>
                <i id="cart" class="fa-solid fa-user"></i>
                <div class="mr-2 ">
                    <partial name="_LoginStatus" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Serwis - <a asp-area="" asp-controller="Admin" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/b1af44c630.js" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        const confirmMsg = document.getElementById("confirm")

        function getCookie(name) {
            var dc = document.cookie;
            var prefix = name + "=";
            var begin = dc.indexOf("; " + prefix);
            if (begin == -1) {
                begin = dc.indexOf(prefix);
                if (begin != 0) return null;
            }
            else {
                begin += 2;
                var end = document.cookie.indexOf(";", begin);
                if (end == -1) {
                    end = dc.length;
                }
            }
            return decodeURI(dc.substring(begin + prefix.length, end));


        }

        $(document).ready(function() {



            if (confirmMsg !== null) {
                let cookie_value = document.cookie.split(';');
                let cookie_value_split = cookie_value[0].split('=')
                let cart_quantity_cookie = cookie_value_split[1];
                console.log(document.cookie)
                if (getCookie("cart") === null) {
                    document.getElementsByClassName('cart-quantity')[0].textContent = 0;
                    return;
                }
                if (cart_quantity_cookie === 0) {
                    document.getElementsByClassName('cart-quantity')[0].textContent = 0;
                    document.cookie = 'cart =; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                    return;
                }
                document.getElementsByClassName('cart-quantity')[0].textContent = cart_quantity_cookie
                sessionStorage.removeItem('key');
            } else {

                let cart_quantity = sessionStorage.getItem('key');
                if (cart_quantity === null) {
                    document.getElementsByClassName('cart-quantity')[0].textContent = 0;

                    return;
                }
                document.getElementsByClassName('cart-quantity')[0].textContent = cart_quantity;

            }

        });


    </script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
