@using Microsoft.AspNetCore.Http;
@using Serwis.Controllers
@inject IHttpContextAccessor HttpContextAccessor;
@{
    //var sessionLogin = @HttpContextAccessor.HttpContext?.Session.GetString(AccountController.SessionKeyName);
}
@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline" asp-action="Logout" asp-controller="Account">
    <button onclick="setCart()" type="submit" class="btn btn-outline-light ml-2">Wyloguj</button>

    </form>


}
else
{
    <a style="text-decoration:none"  class="btn btn-link" asp-action="Login" asp-controller="Account">Zaloguj</a>
}
    <script type="text/javascript">

        function deleteCookie() {
            document.getElementsByClassName('cart-quantity')[0].textContent = cart_quantity;
           
        }
    </script>
